@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 80vw;
  gap: 2em;
  padding: 0.5em;
  justify-content: center;
  align-items: center;
}

.left-half {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  border-radius: 0.2em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-image: url("../public/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.canvas {
  border-radius: 0.1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 2px;
}

.right-half {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  user-select: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.editing-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1em;
  gap: 1em;
}

.heading-text-div {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.heading {
  font-weight: 700;
  font-size: large;
}

.tagline {
  color: rgba(0, 0, 0, 0.537);
  font-size: small;
}

.upload-image-div {
  display: flex;
  align-items: center;
  border: 2px solid rgba(186, 182, 182, 0.348);
  padding: 0 1em;
  border-radius: 0.3em;
  height: 8%;
  font-size: small;
}

.upload-image-text {
  color: rgba(0, 0, 0, 0.537);
}

.select-file-link {
  color: rgb(16, 146, 233);
}

.line-div {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: end;
  color: rgba(0, 0, 0, 0.537);
  font-size: smaller;
}

.content-div {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(186, 182, 182, 0.348);
  padding: 0.2em 0.7em;
  border-radius: 0.3em;
  height: 9%;
  font-size: small;
  gap: 0.2em;
}

.content-text {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.537);
}

.content-input {
  border: none;
  font-size: small;
  font-weight: bold;
}

.cta-div {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(186, 182, 182, 0.348);
  padding: 0.2em 0.7em;
  border-radius: 0.3em;
  height: 9%;
  font-size: small;
  gap: 0.2em;
}

.cta-text {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.537);
}

.cta-input {
  border: none;
  font-size: small;
  font-weight: bold;
}

.color-picker-div {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.5em;
}

.color-picker-text {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.537);
}

.color-picker-buttons {
  display: flex;
  gap: 0.5em;
}

.color-button {
  border: 1px solid rgba(169, 169, 169, 0.471);
  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
}

.color-picker-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(169, 169, 169, 0.471);
  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
}

.color-picker-popover {
  position: absolute;
  left: 11em;
  top: -5em;
}
